@import './layout.css';
@import './reset.css';
@import './typography.css';

body {
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 1.02em);
    font-family: 'Neucha', cursive;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #333;
}

.header, .footer {
    padding: 1em;
    background-color: rgba(0, 128, 128, 0.253);
    flex-grow: 0;
    text-align: center;
}

.header {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    flex: 60% 1 0;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    letter-spacing: 3px;
}

.btn.nav-btn {
    background-color: rgb(2, 120, 120);
    color: #eee;
    font-size: 1.2rem;
    padding: 0.5em;
}

.btn.nav-btn:hover {
    background-color: #eee;
    color: rgb(2, 120, 120);
    transition:
        color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
}

i {
    margin: 0 1em;
    text-align: center;
}

.main {
    flex-grow: 1;
    display: flex;
    height: 100%;
}

.image-container {
    flex: 30% 0 0;
    position: relative;
    background-image: url('../images/building.jpg');
    background-size: 150% 100%;
    background-repeat: no-repeat;
}

.image-container::after {
    box-shadow: none;
    background-color: #999;
    width: 9em;
    height: 100%;
    position: absolute;
    left: calc(100% - 4.5em);
    transform: skew(-10deg);
}

.content {
    flex: 70% 1 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 6em;
}

.responsible-person {
    position: relative;
    margin: 1.5em;
    width: 100%;
    display: flex;
    gap: 4em;
    font-weight: bold;
}

.responsible-person-title {
    color: white;
}

.buttons {
    height: 100%;
    display: flex;
    gap: 3em;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding: 0.8em 4em;
    border-radius: 2em;
    background-color: #eee;
    border: 3px solid rgb(2, 120, 120);
    text-align: left;
}

.btn i {
    font-size: 2.5rem;
    background-color: rgb(2, 120, 120);
    padding: 0.4em;
    border-radius: 50%;
    color: #eee;
}

.long-btn {
    position: relative;
    width: 22em;
}

.btn:hover {
    background-color: rgb(2, 120, 120);
    color: #eee;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.long-btn i {
    position: absolute;
    left: -1.5em;
    top: -0.18em;
}

.main-btn {
    width: 30em;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-align: center;
    padding: 1.2em 4em;
}

.main-btn i {
    font-size: 3.6rem;
    width: 1.8em;
    text-align: center;
}

.footer {
    font-size: smaller;
}